.Table input[type="number"], .Table input[type="text"] {
  width: 90%;
}

.Table table {
  border: 1px solid black;
  width: 100%;
  border-collapse: collapse;
  margin: 20px auto;
  text-align: center;
}

.Table th, .Table td {
  border: 1px solid black;
  padding: 5px 5px;
}
